@page "/customer"

@inject CustomerService _customerService

<h3>Customer</h3>
@if (Customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                   

                </tr>
            }
        </tbody>
    </table>
}

@code {
    public IEnumerable<CustomerDTO> Customers { get; set; } = new List<CustomerDTO>();

    protected override async Task OnInitializedAsync()
    {
        Customers = await _customerService.GetAllCustomersAsync();
    }
}
