@if (Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @ChildContent
}

@code {
    [EditorRequired, NotNull]
    [Parameter] public object? Data { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
